# Web3Auth Client
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=""

# Base RPC URL
BASE_RPC_URL="https://cold-frosty-lake.base-goerli.discover.quiknode.pro/8f517b4b69434caeebce5877458b2e0d64b20859/"
BASE_SAFE_TX_SERVICE_URL="https://safe-transaction-base-testnet.safe.global/"

# Coinbase's Base Deployer Address
DEPLOYER_ADDRESS="0x0"
DEPLOYER_ADDRESS_SEED="test test"
DEPLOYER_ADDRESS_PRIVATE_KEY="privatekey"

# Deployed Safe Address
# SAFE_ADDRESS="0x572c9646d45707a322b77163C50AfB65C014525F"
SAFE_ADDRESS="0xD2eBD8071D05586f909457Ebe0ea8B50a22D7Ca7"

# Owner Addresses
OWNER_1_ADDRESS="0x0"
OWNER_2_ADDRESS="0x0"
OWNER_3_ADDRESS="0x0"


# Base RPC URL
NEXT_PUBLIC_BASE_RPC_URL="https://cold-frosty-lake.base-goerli.discover.quiknode.pro/8f517b4b69434caeebce5877458b2e0d64b20859/"
NEXT_PUBLIC_BASE_SAFE_TX_SERVICE_URL="https://safe-transaction-base-testnet.safe.global/"

# Deployed Safe Address
# SAFE_ADDRESS="0x572c9646d45707a322b77163C50AfB65C014525F"
# SAFE_ADDRESS="0xD2eBD8071D05586f909457Ebe0ea8B50a22D7Ca7"
NEXT_PUBLIC_SAFE_ADDRESS="0x59eE7F0852683c3C1fdEA5Deb0be762Ae38F3590"

# Owner Addresses
NEXT_PUBLIC_OWNER_1_ADDRESS="0x6A4056dEF911Ea2c13985834a32A922C612881B9"
NEXT_PUBLIC_OWNER_2_ADDRESS="0x200eC700555FdcedCec9AB6da6005bc959F02A95"
NEXT_PUBLIC_OWNER_3_ADDRESS="0x02ad4A6376626751e258dB6cbCBa09Fde1838d71"
